{% extends 'base.html' %}

{% block title %}All Applicants{% endblock %}

{% load static tailwind_tags %}

{% block content %}

<center>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-3/4 text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Application Number
              </th>
              <th scope="col" class="px-6 py-3">
                  Region
              </th>
              <th scope="col" class="px-6 py-3">
                  Family Name
              </th>
              <th scope="col" class="px-6 py-3">
                  First Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Middle Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Gender
              </th>
              <th scope="col" class="px-6 py-3">
                  Email
              </th>
              <th scope="col" class="px-6 py-3">
                  Phone
              </th>
              <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Update</span>
              </th>
              <th scope="col" class="px-6 py-3">
                  <span class="sr-only">Delete</span>
              </th>
          </tr>
      </thead>
      {% for MainApplicant in all_applicants %}
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ MainApplicant.application_number }}
              </th>
              <td class="px-6 py-4">
                {{ MainApplicant.region }}
              </td>
              <td class="px-6 py-4">
                {{ MainApplicant.family_name }}
              </td>
              <td class="px-6 py-4">
                {{ MainApplicant.first_name }}
              </td>
              <td class="px-6 py-4">
                {{ MainApplicant.middle_name }}
              </td>
              <td class="px-6 py-4">
                {{ MainApplicant.gender }}
              </td>
              <td class="px-6 py-4">
                {{ MainApplicant.email }}
              </td>
              <td class="px-6 py-4">
                {{ MainApplicant.phone }}
              </td>
              <td class="px-6 py-4 text-right">
                  <a href="{% url 'update_applicants' id=MainApplicant.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Update</a>
              </td>
              <td class="px-6 py-4 text-right">
                <a href="{% url 'delete_applicants' id=MainApplicant.id %}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
              </td>
          </tr>
      </tbody>
      {% endfor %}
  </table>
</div>
</center>

{% endblock %}



<!-- <table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
  </tr>
  {% for winner in all_winners %}
  <tr>
    <td>{{ winner.name }}</td>
    <td>{{ winner.phone }}</td>
  </tr>
  {% endfor %}
</table> -->